= simple_form_for(@account) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email

    %label Crms
    - active_crms.each do |crm|
      .crm_btn.active
        = crm.name
        
    .crm_btn Something else

  .form-actions
    = f.button :submit
